html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at 45% 15%, #291b2e, #1b1b1b 35%);
    color: white;
    font-family: "Consolas", "Courier New", monospace;
}

.homepage, .introduction, .stats, .section,
.project-card, .socials, .btn, .aspiring {
    box-sizing: border-box;
}

.homepage {
    width: 95%;
    max-width: 1150px;
    margin: auto;
    padding: 40px 0;
}

.terminal-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 40px;
}

.terminal {
    color: #36d6b7;
    font-size: 18px;
}

.terminal-caret {
    width: 10px;
    height: 20px;
    background: #36d6b7;

    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }

    51%, 100% {
        opacity: 0;
    }
}

.introduction h1 {
    font-family: Arial, sans-serif;
    font-size: 80px;
    line-height: 0.88;
    font-weight: 900;
    letter-spacing: -5px;
}

.introduction h1 span {
    color: #ff5edb;
}

.underline {
    width: 380px;
    height: 2.5px;
    background: linear-gradient(to right, #ff5edb, transparent);
    margin: 20px 0 35px;
}

.aspiring {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 25px;
}

.aspiring span {
    border: 1px solid #444;
    padding: 9px 15px;
    color: #cfcfcf;
    background: #202020;
    font-size: 13px;
    box-sizing: border-box;
}

.aspiring i {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
}

.pink {
    background: #ff5edb;
}

.purple {
    background: #c77dff;
}

.blue {
    background: #38bdf8;
}

.quote {
    color: #777;
    margin-bottom: 35px;
}

.description {
    max-width: 1000px;
    color:#999;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
}

.description b {
    color: #38bdf8;
}

.buttons {
    display: flex;
    gap: 12px;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #ddd;
    border: 1px solid #ddd;
    padding: 13px 28px;
    transition: 0.3s;
}

.btn:hover, .btn.active {
    background: #1296e8;
    border-color: #1296e8;
    color: white;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #3a3a3a;
    margin-bottom: 55px;
}

.stats div {
    text-align: center;
    padding: 35px;
    border: 1px solid #252525;
    box-sizing: border-box;
}

.stats h2 {
    font-family: Arial, sans-serif;
    font-size: 34px;
    font-weight: 900;
}
.stats p {
    color: #777;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    margin-top: 10px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    margin-bottom: 20px;
}

.section p {
    margin-bottom: 18px;
    line-height: 1.8;
    color: #bdbdbd;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.project-card {
    border: 1px solid #3a3a3a;
    margin-top: 12px;
    line-height: 1.7;
    padding: 25px;
    background: #202020;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    border-color: #ff5edb;
}

.project-card h3{
    color: #38bdf8;
    margin-bottom: 12px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 35px;
}

.socials a {
    text-decoration: none;
    color: #777;
    border: 1px solid #3a3a3a;
    padding: 10px 18px;
    transition: 0.3s;
    box-sizing: border-box;
}

.socials a:hover {
    color: white;
    border-color: #ff5edb;
}
